<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seite nicht gefunden</title>
</head>
<body>
    <p class="errorText">Seite konnte nicht gefunden werden</p>
    <a href="/">
        <button class="errorButton" type="submit">Zurück zur Hauptseite</button>
    </a>
</body>
</html>