<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Impressum</h1>
</head>
<body>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>HAW<br />
        Finkenau 35<br />
        Geb&auml;ude 44<br />
        22081 Hamburg</p>

    <p><strong>Vertreten durch:</strong><br />
        Karim Malik, Stefan Kulow<br />
        Ugur Aslan, Ümit Baycuman, Nargis Hossainy</p>

    <h2>Kontakt</h2>
    <p>Telefon: +49 (0) 123 44 55 66<br />
        Telefax: +49 (0) 123 44 55 99<br />
        E-Mail: mustermann@One4All.de</p>

    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
        DE999999999</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>




</body>
</html>