<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
    <script th:src="@{/css/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="login-form">
    <div class="container-fluid">
        <form method="post" th:action="@{/login}">
            <label for="username"><b>Username</b></label>
            <input type="text" class="mb-3" placeholder="Username eingeben" name="username" id="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" class="mb-3" placeholder="Passwort eingeben" name="password" id="password" required>
            <div id="passwordError" th:if="${param.error}">
                <div class="alert alert-danger d-flex align-items-center">Ungültige Anmeldedaten.</div>
            </div>
            <button class="btn btn-info mt-3" type="submit">Anmelden</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <div class="container">
                <button type="button" onclick="window.location.href = 'http://localhost:8080/';"
                        class="cancelbtn btn-outline-info">Abbrechen
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>