<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
    <script th:src="@{/css/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<header class="header">
    <div class="logo">
        <a href="#">
            <img th:src="@{/images/PlaceholderLogo.png.}" alt="">
        </a>
    </div>
    <div class="navigation">
        <input type="checkbox"
               class="toggle-menu">
        <div class="hamburger"></div>
        <ul class="menu">
            <li><a href="/home"><i class="fas fa-home"></i>   Home</a></li>
            </li>
            <li sec:authorize="isAnonymous()"><a id="login" href="/login">
                <i class="fas fa-sign-in-alt"></i>  Login</a>
            </li>
            <li sec:authorize="isAuthenticated()"><a id="logout" href="/logout" >
                <i class="fas fa-sign-out-alt"></i>  Log out</a>
            </li>
            <li sec:authorize="isAnonymous()"><a id="register" href="/register">
                <i class="far fa-registered"></i>   Registrieren</a>
            </li>
            </li>
            <li><a href="impressum"><i class="fa fa-paragraph"></i>   Impressum</a>
            </li>
        </ul>
    </div>
</header>
<body>
<div class="login-form">
    <div class="container-fluid">
        <form method="post" th:action="@{/login}">
            <label for="username"><b>Username</b></label>
            <input type="text" class="mb-3" placeholder="Username eingeben" name="username" id="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" class="mb-3" placeholder="Passwort eingeben" name="password" id="password" required>
            <div id="passwordError" th:if="${param.error}">
                <div class="alert alert-danger d-flex align-items-center">Ungültige Anmeldedaten.</div>
            </div>
            <button id="login" class="btn btn-info mt-3" type="submit">Anmelden</button>
            <label>

            <div class="container">
                <button type="button" onclick="window.location.href = 'http://localhost:8080/';"
                        class="cancelbtn" >Abbrechen
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>