<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
    <script th:src="@{/css/bootstrap-5.0.2-dist/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projektseite</title>
</head>
<body>
<div class="menuBar">
    <ul>
        <li class="active"><a href="/"><i class="fas fa-home"></i>Home</a></li>
        <li><a id="login" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
        <li><a id="register" href="/register"><i class="far fa-registered"></i>Registrieren</a></li>
        <li><a href="#"><i class="fas fa-users"></i>Über uns</a>
            <div class="subMenu-aboutUs">
                <ul>
                    <li><a href="#">Vision</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fas fa-phone"></i>Kontakt</a></li>
    </ul>
</div>
<div class="forms">
    <form th:action="@{/createProject}" th:object="${project}" method="post">
        <input id="title" class="projectCreationVar" th:field="*{title}" th:errorClass="is-invalid" placeholder="Titel"
               maxlength="30"><br>
        <div id="titleError" th:if="${#fields.hasErrors('title')}">
            <div class="alert alert-danger d-flex align-items-center" th:errors="*{title}"></div>
        </div>
        <select name="projectType" id="projectType" class="projectCreationVar" th:field="*{projectType}"
                th:errorClass="is-invalid">

            <option value="noInput">--Art des Projekts--</option>
            <option value="ProjektA">Projekt A</option>
            <option value="ProjektB">Projekt B</option>
            <option value="ProjektC">Projekt C</option>
            <option value="VS">Virtuelle Systeme</option>
            <option value="CGA">Computergrafik u. Animation</option>
            <option value="SE">Software Engineering</option>
            <option value="AVT">Audio/Video-Technik</option>
            <option value="MGD">Media Game Design</option>
            <option value="Dramaturgie">Dramaturgie</option>
            <option value="Wahlpflicht">Wahlpflicht</option>
        </select><br>
        <div id="projectTypeError" th:if="${#fields.hasErrors('projectType')}">
            <div class="alert alert-danger d-flex align-items-center" th:errors="*{projectType}"></div>
        </div>
        <textarea rows="10" cols="60" id="description" class="projectCreationVar" th:field="*{description}"
                  th:errorClass="is-invalid" placeholder="Projektbeschreibung" maxlength="300"></textarea><br>
        <div id="descriptionError" th:if="${#fields.hasErrors('description')}">
            <div class="alert alert-danger d-flex align-items-center" th:errors="*{description}"></div>
        </div>
        <input id="kontaktinfo" class="projectCreationVar" placeholder="E-Mail" th:field="*{email}"
               th:errorClass="is-invalid" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="100"
               title="Bitte geben Sie eine gültige E-Mail-Adresse ein."><br>
        <div id="emailError" th:if="${#fields.hasErrors('email')}">
            <div class="alert alert-danger d-flex align-items-center" th:errors="*{email}"></div>
        </div>
        <input id="crew" class="projectCreationVar" placeholder="Gesuchtes Gewerk" th:field="*{crew}"
               th:errorClass="is-invalid" maxlength="100"><br>
        <input type="submit" id="submitProject" value="Projekt erstellen">

    </form>
</div>
<div class="footer">
    <footer>
        <p><a id="impressum" href="/impressum">Impressum</a></p>
        <a href="/">
            <img id="footerLogo" th:src="@{/images/PlaceholderLogo.png}" alt="One4All">
        </a>
    </footer>
</div>
</body>
</html>